/* Global styles */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Poppins", sans-serif;
}
.btn {
  border-radius: 8px;
  background: #e55473;
  border: 1px solid #e55473;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.btn:hover {
    background-color: transparent;
    color: #e55473;
}
/* Header section styles */
header {
  background-color: rgba(229, 84, 115, 0.1);
}
.banner-content {
  width: 80%;
  margin: auto;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-info {
  width: 600px;
  padding: 50px 0px;
}
.banner-title {
  color: #272727;
  font-size: 50px;
}
.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 15px 0px;
}
.banner-img {
  align-self: flex-end;
}
.banner-img img {
  width: auto;
  height: 500px;
  margin-bottom: -7px;
}
