/* Global styles */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Shared styles */
.btn {
  border-radius: 10px;
  background: #e55473;
  border: 1px solid #e55473;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.btn:hover {
  background-color: transparent;
  color: #e55473;
  cursor: pointer;
}
.section-title {
  color: #272727;
  font-size: 30px;
  font-weight: 800;
}
.section-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 20px 200px 40px;
}
.input {
  padding: 20px 40px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 400px;
}
/* Header section styles */
header {
  background-color: rgba(229, 84, 115, 0.1);
}
.banner-content {
  width: 80%;
  margin: auto;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-info {
  width: 600px;
  padding: 50px 0px;
}
.banner-title {
  color: #272727;
  font-size: 50px;
}
.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 15px 0px;
}
.banner-img {
  align-self: flex-end;
}
.banner-img img {
  width: auto;
  height: 500px;
  margin-bottom: -7px;
}
/* Feature section styles */
.feature-section {
  width: 80%;
  margin: 100px auto;
  text-align: center;
}
.feature-items {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.feature-img {
  height: 320px;
  width: 250px;
  padding: 60px 40px 0px 40px;
  border-radius: 300px 300px 0px 0px;
}
.feature-1 {
  background: rgba(167, 33, 98, 0.15);
}
.feature-2 {
  background: rgba(5, 151, 160, 0.15);
}
.feature-3 {
  background: rgba(71, 125, 17, 0.15);
}
.feature-img img {
  height: 350px;
  width: 280px;
}
.feature-img-title {
  color: #272727;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  text-decoration: underline;
}
.feature-img-title:hover {
  cursor: pointer;
  color: #e55473;
}

/* Service section styles */
.service-section {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 300px;
  padding: 0px 20px;
  border-radius: 10px;
  background: rgba(39, 39, 39, 0.05);
}
.service-desc {
  color: rgba(39, 39, 39, 0.8);
  font-size: 18px;
  margin-bottom: 20px;
}
/* Offer section styles */
.offer-section {
  border-radius: 10px;
  background: rgba(229, 84, 115, 0.05);
  margin: 100px 0px;
}
.offer-content {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0px;
}
.offer-title {
  color: #272727;
  font-size: 35px;
  font-weight: 800;
}
.offer-title span {
  color: #e55473;
}
.offer-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  margin: 30px 0px;
  width: 550px;
}
.offer-img img {
  height: 350px;
  width: auto;
}
/* Instra section styles */
.instra-section {
  width: 80%;
  margin: auto;
  text-align: center;
}
.instra-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.instra-item img {
  width: 260px;
  height: auto;
  border-radius: 10px;
}
/* CTA section styles */
.cta-section {
  width: 80%;
  margin: 100px auto;
  text-align: center;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px 0px;
  border-radius: 10px;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cta-desc,
.order-desc {
  margin: 10px 200px 40px;
}
.submit-btn {
  padding: 15px 30px;
}
/* Order section styles */
.order-section {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: rgba(229, 84, 115, 0.1);
  padding: 200px 0px 50px;
  border-radius: 700px 700px 0px 0px;
  background-image: url("../images/left.png"), url("../images/right.png");
  background-repeat: no-repeat;
  background-size: 28% 30%;
  background-position: left bottom, right bottom;
}
form {
  width: 65%;
  margin: 70px auto 0px;
  text-align: left;
  text-align: center;
}
form label {
  color: red;
  color: #272727;
  font-size: 20px;
  font-weight: 700;
  display: block;
  text-align: left;
  margin-left: 17%;
  margin-bottom: 10px;
}
form input {
  padding: 10px 20px;
  margin-bottom: 5px;
}
.select-input {
  width: 480px;
}
form .order {
  display: inline;
  font-style: 18px;
  font-weight: 400;
  margin-left: 5px;
}
.order-btn {
  margin-top: 20px;
  width: 480px;
}
.order a {
  text-decoration: none;
}
.order a:hover {
  text-decoration: underline;
}
/* Footer section styles */
footer {
  text-align: center;
  height: 400px;
  background-color: #111010;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h3 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
}
footer span {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}
.footer-desc {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  width: 650px;
  margin: 20px 0px;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  margin-top: 20px;
}
